[package]
name = "karva_benchmark"
version = "0.0.0"
description = "Karva Benchmarks"
publish = false
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[[bench]]
name = "karva"
harness = false

[[bench]]
name = "karva_walltime"
harness = false

[dependencies]
karva_core = { workspace = true }
karva_project = { workspace = true }
karva_test = { workspace = true }

anyhow = { workspace = true }
codspeed-criterion-compat = { workspace = true }
criterion = { workspace = true, default-features = false }
ruff_python_ast = { workspace = true }
tracing = { workspace = true }
tempfile = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

[lints]
workspace = true
