name: Release Drafter and Labels

on:
  push:
    branches:
      - main

  pull_request:
    types: [edited, opened, reopened, synchronize, unlabeled, labeled]

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  require_label:
    if: github.event.pull_request

    needs: [update_release_draft]

    runs-on: ubuntu-latest

    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5.5.1
        with:
          mode: minimum
          count: 1
          labels: ".+"
          add_comment: true
          use_regex: true
          message: "Please add a label to this pull request."
