name: Release

on:
  push:
    tags:
      - v[0-9]*.[0-9]*.[0-9]*

env:
  PYTHON_VERSION: "3.14"

jobs:
  release_github:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Publish Latest Draft
        run: |
          if gh release list | grep Draft; then
              old_version="$(gh release list | grep Draft | head -1 | cut -f1)"
              new_version="${GITHUB_REF_NAME}"
              body=$(gh release view "$old_version" --json body -q ".body" | sed "s/\.\.\.$old_version/...$new_version/g")
              gh release delete "$old_version"
              gh release create "$new_version" --title "${GITHUB_REF_NAME}" --notes "$body";
          else
              gh release create "$new_version" --title "${GITHUB_REF_NAME}";
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-docs:
    runs-on: ubuntu-latest

    name: Docs builder and publisher

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5.4.2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          enable-cache: false

      - name: Prepare docs
        run: uv run --script scripts/prepare_docs.py

      - name: Build docs
        run: uv run --isolated --only-group docs zensical build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: site
          publish_branch: gh-pages
          keep_files: false
          force_orphan: true
